@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH8zm11rsRvRVcN1syP36-bPNeuFfNBqM&callback=initMap" async defer></script>
</head>
<body ng-app="FinalProject" ng-controller="FinalProjectController">

    <div class="col s12 m12 l12">
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <!--<th>Department</th> -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userData in userData">
                    <td>{{userData.eData.fName}}</td>s
                    <td>{{userData.eData.lName}}</td>
                    <!--<td>{{userData.dData.deptName}}</td>-->
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
