@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/css/login.css">
</head>

<body class="background">

    <div class="background-overlay"></div>

    <div class="valign-wrapper">

        <div class="image-container">
            <img src="~/Content/Images/UST_MyBidet.png" alt="Side Image">
        </div>
        <div class="container">
                <div class="row center-align">
                        <div class="card white">
                            <div class="card-content black-text">
                                <h5>Login</h5>
                                <div class="row">
                                    <form class="col s12 m12 l12">
                                        <div class="row">
                                            <div class="row" ng-init="Fetchfunc()">
                                                <div class="input-field col s12 m12 l12">
                                                    <i class="material-icons prefix">account_circle</i>
                                                    <input id="Uname" type="text" class="validate" ng-model="Username">
                                                    <label for="Uname">UST Email</label>
                                                </div>

                                                <div class="input-field col s12 m12 l12" style="margin-top: 10px;">
                                                    <i class="material-icons prefix">lock_outline</i>
                                                    <input id="Upassword2" type="password" class="validate" ng-model="Upassword2">
                                                    <label for="Upassword2">Password</label>
                                                </div>

                                                <div class="col s12 m12 l12 button-group">
                                                    <div class="col s12 m6 l6">
                                                        <button class="btn waves-effect waves-light gold" ng-click="Loginvalidation()">
                                                            Login
                                                            <i class="material-icons left">send</i>
                                                        </button>
                                                    </div>

                                                    <div class="col s12 m6 l6">
                                                        <button class="btn waves-effect waves-light black" ng-click="Cancelfunc()">
                                                            Cancel
                                                            <i class="material-icons left">cancel</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</body>
