@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="~/Content/CSS/Profile.css">
</head>
<body>
    <div class="navbar">
        <div class="brand">UST MyBidet</div>
        <a href="@Url.Action("Dashboard", "Home")">Home</a>
        <a href="@Url.Action("Location", "Home")">Location</a>
        <a href="@Url.Action("Profile", "Home")">Profile</a>
        <a href="@Url.Action("Logout", "Home")">Logout</a>
    </div>

</body>
</html>


