<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/AngularJS/Module.js"></script>
    <script src="~/Scripts/AngularJS/Service.js"></script>
    <script src="~/Scripts/AngularJS/Controller.js"></script>
</body>
</html>
