<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css" />
    <link rel="stylesheet" href="~/Content/CSS/Dashboard.css" />
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>
<body ng-app="FinalProject" ng-controller="FinalProjectController">
    <div>
        @RenderBody()
    </div>
        
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/AngularJS/Module.js"></script>
    <script src="~/Scripts/AngularJS/Service.js"></script>
    <script src="~/Scripts/AngularJS/Controller.js"></script>

</body>
</html>
